body{
  background-color: #404a65;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1+p{
font-weight: 700;
margin: 20px 0;
text-align: center;
}
#coin{
  width: 100px;
  margin-top: 20px;
  /* transition: transform 1s ease-in-out; */
/* transform-style: preserve-3d; */
  max-width: 80%; /* Limits size on mobile */
  height: auto;

}
#shadow{
  margin: 50px 0;
}
button{
 padding:10px 20px;
  background-color: #267ec5;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 700;
}
button:hover {
  background-color: #1a5c91; /* Darker shade */
  transform: scale(1.05); /* Subtle growth */
  transition: all 0.3s ease;
}
#result{
  margin-bottom: 40px;
  font-weight: 700  ;
}
